name: Keep App Alive

on:
  schedule:
    # Run every hour to keep the app active
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping App URL
        run: curl -I https://app-dashboard-dzcw6pagkmxzz39gzbqf2n.streamlit.app
